.env
__pycache__/
reqs/
auth.py
fixed_variables.txt
tmp.txt
token.key
variables.py
filme.mp4
phonk.webm
Faixa_0/
Faixa_1/
filme/
legendas/
smartcut
filme2.mkv
cuts/
Filme_Video/
audio/
faixa.aac
filme3.mkv
preload.json
token_moviedb.key